html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#container {
  display: grid;
  height: 100%;
  grid-template-rows: 100px auto 50px;
  background-image: url(images/battleships.jpg);
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: rgba(170, 187, 199, 0.8);
  border-bottom: 1px solid;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalWrapper {
  display: flex;
  gap: 10px;
}
form {
  display: flex;
  gap: 10px;
  padding: 25px;
  font-size: 1.5em;
  font-weight: 600;
}
form > input[type='text'] {
  font-size: 0.8em;
}
#confirm {
  width: 80px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.7em;
  background-color: rgba(174, 202, 222, 0.8);
  cursor: pointer;
}
#shipsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 25px 25px;
}
.ship {
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}
#carrier {
  width: 250px;
}
#battleship {
  width: 200px;
}
#cruiser {
  width: 150px;
}
#submarine {
  width: 150px;
}
#destroyer {
  width: 100px;
}
.ship.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}
#content {
  display: flex;
  gap: 50px;
}
#content.hide {
  display: none;
}

.side {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side > h2 {
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.5);
  width: 500px;
  text-align: center;
  box-sizing: border-box;
}
#player > h2 {
  color: blue;
}
#opponent > h2 {
  color: red;
}
.board {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
}

.board,
.board > .cell {
  cursor: crosshair;
  border: 1px solid black;
  background-color: rgb(245, 245, 245, 0.3);
}

#playerBoard > .cell.playerHit {
  background-color: blue;
}

#opponent > .board.disabled {
  pointer-events: none;
}
#opponent > .board > div:hover {
  border: dotted red 3px;
}
#opponent > .board > .cell.opponentHit {
  background-color: red;
  pointer-events: none;
}
.board > .cell.miss {
  background-color: grey;
  pointer-events: none;
}

#gameOver {
  height: 200px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
}
#gameOver::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#gameOver > button {
  height: 50px;
  width: 100px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(170, 187, 199, 0.8);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  border-top: 1px solid;
  background-color: rgba(170, 187, 199, 0.8);
}
footer > a > img {
  height: 30px;
  transition: transform 0.5s;
}
footer > a > img:hover {
  transform: scale(1.2);
}
